{% extends "base.html" %}
{% comment %}
    Copyright 2022-TopDevPros
    Last modified: 2023-12-10
{% endcomment %}
{% load i18n custom %}

{% block meta_description %}
    <meta content="Document Not Found" name="description"/>
{% endblock meta_description %}

{% block titlevar %}Document Not Found{% endblock %}

{% block body-content %}
<div id="content-main">

    {% title "Document Not Found" %}

    <p class="dropcap">Please remember to use upper and lower case when entering an internet address.</p>

    {% subtitle "You can:" %}

    <ul>
<!--li><p><a href="/search/">search for the information</a> on our site</p></li-->
<li><p>send e-mail to <strong>{{email_address|default:"support"}}</strong> requesting help.
        </p></li>
<li><p>start with <a class="nav-item" href="/">{{company_name|default:"our"}} home page</a>.</p></li>
</ul>
<p> </p>
<p> </p>
<p> </p>

{% endblock %}
</div>